:host ::ng-deep {
  json-schema-form {
    app-ant-submit {
      display: none;
    }
  }

  .ant-input-number.ant-input-number {
    width: 100%;
  }

  textarea {
    resize: none;
    min-height: 87px;
    width: 100%;
  }

  nz-divider {
    margin-top: 0;
  }

  .metadata-divider {
    margin-top: 24px;
  }
}
