<form
  nz-form
  (ngSubmit)="createCollection($event)"
  [formGroup]="collectionForm"
  nzNoColon="true"
  novalidate
>
  <div nz-row [nzGutter]="[24, 12]">
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="name" nzRequired>Name</nz-form-label>
        <nz-form-control [nzErrorTip]="nameErrorTpl">
          <input
            id="name"
            nzSize="default"
            type="text"
            nz-input
            formControlName="name"
            placeholder="Insert collection name"
          />
        </nz-form-control>
        <ng-template #nameErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            <span nz-typography nzType="danger">
              Please enter name of collection!
            </span>
          </ng-container>
          <ng-container *ngIf="control.hasError('min')">
            <span nz-typography nzType="danger">
              Name of collection should be at least
              {{ maximumSupplyMin }} characters long
            </span>
          </ng-container>
          <ng-container *ngIf="control.hasError('max')">
            <span nz-typography nzType="danger">
              Name of collection should be at most
              {{ maximumSupplyMax }} characters long
            </span>
          </ng-container>
        </ng-template>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="maximumSupply" nzRequired
          >Maximum Supply
        </nz-form-label>
        <nz-form-control [nzErrorTip]="maximumSupplyErrorTpl">
          <nz-input-number
            [nzMin]="maximumSupplyMin"
            [nzMax]="maximumSupplyMax"
            [nzStep]="1"
            formControlName="maximumSupply"
            nzPlaceHolder="Insert maximum supply"
            nzPrecisionMode="cut"
          >
          </nz-input-number>
        </nz-form-control>
        <ng-template #maximumSupplyErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            <span nz-typography nzType="danger">
              Please enter maximum supply of collection!
            </span>
          </ng-container>
          <ng-container *ngIf="control.hasError('min')">
            <span nz-typography nzType="danger">
              Maximum supply should be at least {{ maximumSupplyMin }}
            </span>
          </ng-container>
          <ng-container *ngIf="control.hasError('max')">
            <span nz-typography nzType="danger">
              Maximum supply should be at most {{ maximumSupplyMax }}
            </span>
          </ng-container>
        </ng-template>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="description" nzRequired
          >Description
        </nz-form-label>
        <nz-form-control [nzErrorTip]="descriptionErrorTpl">
          <textarea
            class="description"
            formControlName="description"
            nz-input
            placeholder="Insert collection description"
          ></textarea>
        </nz-form-control>
        <ng-template #descriptionErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            <span nz-typography nzType="danger">
              Please enter description!
            </span>
          </ng-container>
          <ng-container *ngIf="control.hasError('min')">
            <span nz-typography nzType="danger">
              Description should be at least {{ maximumSupplyMin }} characters
              long
            </span>
          </ng-container>
          <ng-container *ngIf="control.hasError('max')">
            <span nz-typography nzType="danger">
              Description should be at most {{ maximumSupplyMax }} characters
              long
            </span>
          </ng-container>
        </ng-template>
      </nz-form-item>
    </div>

    <nz-divider nzDashed></nz-divider>

    <div nz-col [nzSpan]="24">
      <app-public-keys-form formControlName="allowedIssuers">
      </app-public-keys-form>
    </div>
  </div>

  <nz-divider nzDashed></nz-divider>

  <app-schema-container>
    <app-schema-container-item editor>
      <json-editor
        class="json-schema-editor"
        [options]="editorOptions"
        [debug]="!isProduction"
        formControlName="jsonSchema"
      ></json-editor>
    </app-schema-container-item>
    <app-schema-container-item form>
      <ng-container *ngIf="c('jsonSchema').valueChanges | async">
        <json-schema-form
          loadExternalAssets="true"
          [schema]="c('jsonSchema').value"
          [debug]="!isProduction"
          [framework]="framework"
        >
        </json-schema-form>
      </ng-container>
      <nz-form-item>
        <nz-form-control>
          <button
            nz-button
            nzType="dashed"
            nzBlock
            class="text-capitalize"
            (click)="addNewAttribute($event)"
          >
            <i nz-icon nzType="plus"></i>
            New attribute
          </button>
        </nz-form-control>
      </nz-form-item>
    </app-schema-container-item>
  </app-schema-container>
  <span nz-typography nzType="danger" *ngIf="c('jsonSchema').errors?.maxSize">
    Json schema size is over the limit!
  </span>

  <nz-divider class="metadata-divider" nzDashed></nz-divider>

  <div nz-row [nzGutter]="[24, 12]">
    <div nz-col [nzSpan]="4">
      <nz-form-item>
        <nz-form-control>
          <label
            nz-checkbox
            (nzCheckedChange)="isMetadataEnabled$.next($event)"
          >
            <nz-form-label>Metadata</nz-form-label>
          </label>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <ng-container *ngIf="isMetadataEnabled$ | async">
    <ng-container *ngLet="c('jsonSchema').valueChanges | async">
      <ng-container *ngIf="c('jsonSchema').value as jsonSchema">
        <app-schema-container>
          <app-schema-container-item form>
            <json-schema-form
              loadExternalAssets="true"
              [schema]="jsonSchema"
              [debug]="!isProduction"
              [framework]="framework"
              [(data)]="metadata"
              (isValid)="isMetadataValid($event)"
              (validationErrors)="metadataValidationErrors($event)"
            >
            </json-schema-form>
          </app-schema-container-item>
        </app-schema-container>
      </ng-container>
    </ng-container>
  </ng-container>
</form>

<div *nzModalFooter>
  <button
    nz-button
    nzType="primary"
    [nzLoading]="isLoading$ | async"
    [disabled]="(isLoading$ | async) || !collectionForm.valid"
    (click)="createCollection($event)"
  >
    Register
  </button>
</div>

<ng-template #modalTitleTpl>
  <app-modal-header [modalRef]="modalRef">
    <nz-space>
      <nz-space-item>
        <h4 nz-typography nzType="secondary">Register new collection</h4>
      </nz-space-item>
      <nz-space-item>
        <app-popover-helper
          placement="right"
          [popoverContent]="createCollectionHelperTpl"
        ></app-popover-helper>
      </nz-space-item>
    </nz-space>
  </app-modal-header>
  <ng-template #createCollectionHelperTpl>
    Collection represents a template structure for creating assets
  </ng-template>
</ng-template>
