<form
  nz-form
  (ngSubmit)="createCollection($event)"
  [formGroup]="collectionForm"
  nzLayout="vertical"
  novalidate
>
  <div nz-row [nzGutter]="[24, 12]">
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <app-form-label>
          <nz-form-label nzFor="email" nzRequired>Name</nz-form-label>
        </app-form-label>
        <nz-form-control [nzErrorTip]="nameErrorTpl">
          <input
            id="email"
            nzSize="default"
            type="text"
            nz-input
            formControlName="name"
            placeholder="Insert collection name"
          />
        </nz-form-control>
        <ng-template #nameErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            <span nz-typography nzType="danger">
              Please enter name of collection!
            </span>
          </ng-container>
          <ng-container *ngIf="control.hasError('min')">
            <span nz-typography nzType="danger">
              Name of collection should be at least
              {{ maximumSupplyMin }} characters long
            </span>
          </ng-container>
          <ng-container *ngIf="control.hasError('max')">
            <span nz-typography nzType="danger">
              Name of collection should be at most
              {{ maximumSupplyMax }} characters long
            </span>
          </ng-container>
        </ng-template>
      </nz-form-item>
      <nz-form-item>
        <app-form-label>
          <nz-form-label nzFor="maximumSupply" nzRequired
            >Maximum Supply</nz-form-label
          >
        </app-form-label>
        <nz-form-control [nzErrorTip]="maximumSupplyErrorTpl">
          <nz-input-number
            [nzMin]="maximumSupplyMin"
            [nzMax]="maximumSupplyMax"
            [nzStep]="1"
            formControlName="maximumSupply"
            nzPlaceHolder="Insert maximum supply"
            nzPrecisionMode="cut"
          >
          </nz-input-number>
        </nz-form-control>
        <ng-template #maximumSupplyErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            <span nz-typography nzType="danger">
              Please enter maximum supply of collection!
            </span>
          </ng-container>
          <ng-container *ngIf="control.hasError('min')">
            <span nz-typography nzType="danger">
              Maximum supply should be at least {{ maximumSupplyMin }}
            </span>
          </ng-container>
          <ng-container *ngIf="control.hasError('max')">
            <span nz-typography nzType="danger">
              Maximum supply should be at most {{ maximumSupplyMax }}
            </span>
          </ng-container>
        </ng-template>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <app-form-label>
          <nz-form-label nzFor="description" nzRequired
            >Description</nz-form-label
          >
        </app-form-label>
        <nz-form-control [nzErrorTip]="descriptionErrorTpl">
          <textarea
            formControlName="description"
            nz-input
            placeholder="Insert collection description"
            rows="5"
          ></textarea>
        </nz-form-control>
        <ng-template #descriptionErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            <span nz-typography nzType="danger">
              Please enter description!
            </span>
          </ng-container>
          <ng-container *ngIf="control.hasError('min')">
            <span nz-typography nzType="danger">
              Description should be at least {{ maximumSupplyMin }} characters
              long
            </span>
          </ng-container>
          <ng-container *ngIf="control.hasError('max')">
            <span nz-typography nzType="danger">
              Description should be at most {{ maximumSupplyMax }} characters
              long
            </span>
          </ng-container>
        </ng-template>
      </nz-form-item>
    </div>
  </div>

  <nz-divider nzDashed></nz-divider>

  <app-schema-container>
    <app-schema-container-item editor>
      <json-editor
        class="json-schema-editor"
        [options]="editorOptions"
        [debug]="!isProduction"
        formControlName="jsonSchema"
      ></json-editor>
    </app-schema-container-item>
    <app-schema-container-item form>
      <ng-container *ngIf="c('jsonSchema').valueChanges | async">
        <json-schema-form
          loadExternalAssets="true"
          [schema]="c('jsonSchema').value"
          [debug]="!isProduction"
          [framework]="framework"
        >
        </json-schema-form>
      </ng-container>
    </app-schema-container-item>
  </app-schema-container>
  <span nz-typography nzType="danger" *ngIf="c('jsonSchema').errors?.maxSize">
    Json schema size is over the limit!
  </span>
</form>

<div></div>

<div *nzModalFooter>
  <button
    nz-button
    nzType="primary"
    [nzLoading]="isLoading$ | async"
    [disabled]="(isLoading$ | async) || !collectionForm.valid"
    (click)="createCollection($event)"
  >
    Create
  </button>
</div>
