<nz-space class="w-100" nzDirection="vertical" nzSize="middle">
  <nz-space-item>
    <div class="header">
      <div>
        <ng-container *ngTemplateOutlet="pageTitleTpl"></ng-container>
      </div>
      <div>
        <nz-space nzDirection="horizontal" nzSize="middle">
          <nz-space-item>
            <nz-form-control>
              <nz-input-group nzSuffixIcon="search">
                <input
                  type="text"
                  nz-input
                  placeholder="Find user"
                  [ngModel]="searchTerm$ | async"
                  (ngModelChange)="searchTerm$.next($event)"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-space-item>
          <nz-space-item class="m-0">
            <button
              nz-button
              nzType="primary"
              (click)="showAddUserPermissionsModal($event)"
            >
              Add User Permissions
            </button>
          </nz-space-item>
        </nz-space>
      </div>
    </div>
  </nz-space-item>
  <nz-space-item>
    <app-table
      [isLoading]="isLoading$ | async"
      [rows]="rows$ | async"
      [tableColumns]="tableColumns"
      [meta]="meta$ | async"
      (paginationChange)="paginationChange($event)"
      scrollY="70vh"
    >
    </app-table>
  </nz-space-item>
</nz-space>

<ng-container *ngLet="getBaseUrl$ | async"></ng-container>

<ng-template #pageTitleTpl>
  <app-page-header>
    <nz-space>
      <nz-space-item>
        <h4 nz-typography nzType="secondary">Users</h4>
      </nz-space-item>
      <nz-space-item>
        <app-popover-helper
          placement="right"
          [popoverContent]="pageTitleHelperTpl"
        ></app-popover-helper>
      </nz-space-item>
    </nz-space>
  </app-page-header>
  <ng-template #pageTitleHelperTpl>
    Define users permissions via their public key
  </ng-template>
</ng-template>

<ng-template #permissionsTpl let-row="row">
  <a (click)="onPermissionsChange($event, row)">
    Change
  </a>
</ng-template>

<ng-template #publicKeyTpl let-row="row">
  <app-text-clipper
    [text]="row.publicKey"
    [copy]="true"
  ></app-text-clipper>
</ng-template>

<ng-template #groupsTpl let-row="row">
  <ng-container *ngFor="let groupName of row.groups; last as isLast">
    <a (click)="onEditGroup($event, groupName)">
      {{groupName}}
    </a>
    <br *ngIf="!isLast" />
  </ng-container>
</ng-template>
