<nz-space class="w-100" nzDirection="vertical" nzSize="middle">
  <nz-space-item>
    <div class="header">
      <div>
        <ng-container *ngTemplateOutlet="pageTitleTpl"></ng-container>
      </div>
      <div>
        <nz-space nzDirection="horizontal" nzSize="middle">
          <nz-space-item>
            <nz-form-control>
              <nz-input-group nzSuffixIcon="search">
                <input
                  type="text"
                  nz-input
                  placeholder="Find user"
                  [ngModel]="searchTerm$ | async"
                  (ngModelChange)="searchTerm$.next($event)"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-space-item>
          <nz-space-item class="m-0">
            <button
              nz-button
              nzType="primary"
              (click)="showAddUserPermissionsModal($event)"
            >
              Add User Permissions
            </button>
          </nz-space-item>
        </nz-space>
      </div>
    </div>
  </nz-space-item>
  <nz-space-item>
    <app-table
      [isLoading]="isLoading$ | async"
      [rows]="rows$ | async"
      [tableColumns]="tableColumns"
      [meta]="meta$ | async"
      (paginationChange)="paginationChange($event)"
      scrollY="calc(100vh - 365px)"
    >
    </app-table>
  </nz-space-item>
</nz-space>

<ng-container *ngLet="getBaseUrl$ | async"></ng-container>

<ng-template #pageTitleTpl>
  <app-page-header>
    <nz-space>
      <nz-space-item>
        <h4 nz-typography nzType="secondary">Users</h4>
      </nz-space-item>
      <nz-space-item>
        <app-popover-helper
          placement="right"
          [popoverContent]="pageTitleHelperTpl"
        ></app-popover-helper>
      </nz-space-item>
    </nz-space>
  </app-page-header>
  <ng-template #pageTitleHelperTpl>
    Define users permissions via their public key
  </ng-template>
</ng-template>

<ng-template #publicKeyTpl let-row="row">
  <app-text-clipper
    [text]="row.publicKey"
    [copy]="true"
  ></app-text-clipper>
</ng-template>

<ng-template #groupsTpl let-row="row">
  <ng-container *ngFor="let groupName of row.groups; last as isLast">
    <ng-container *ngIf="onGroupLoading$ | async; else notLoadingTpl">
      <a class="text-muted">
        {{groupName}}
      </a>
    </ng-container>
    <ng-template #notLoadingTpl>
      <a (click)="onEditGroup($event, groupName)">
        {{groupName}}
      </a>
    </ng-template>
    <br *ngIf="!isLast" />
  </ng-container>
</ng-template>

<ng-template #actionTpl let-row="row">
  <a nz-dropdown [nzDropdownMenu]="actionsMenu" nzPlacement="bottomRight">
    <i nz-icon nzType="edit"></i>
  </a>
  <nz-dropdown-menu #actionsMenu="nzDropdownMenu">
    <ul nz-menu nzSelectable>
      <li
        nz-menu-item
        (click)="onPermissionsChange($event, row)"
      >
        Update
      </li>
    </ul>
  </nz-dropdown-menu>
</ng-template>
