<nz-space nzDirection="vertical" nzSize="middle">
  <nz-space-item>
    <ng-container *ngTemplateOutlet="pageTitleTpl"></ng-container>
  </nz-space-item>
  <nz-space-item>
    <ng-container *ngIf="rows$ | async as rows">
      <app-table
        [isLoading]="isLoading$ | async"
        [rows]="rows"
        [tableColumns]="tableColumns"
        [meta]="meta$ | async"
        (paginationChange)="paginationChange($event)"
        [isExpandable]="true"
        scrollY="calc(100vh - 365px)"
      >
        <ng-template let-row="row">
          <app-trade-details [tradeId]="row.id"></app-trade-details>
        </ng-template>
      </app-table>
    </ng-container>
  </nz-space-item>
</nz-space>

<ng-template #idTpl let-row="row">
  <app-text-clipper [text]="row.id"></app-text-clipper>
</ng-template>

<ng-template #auctionIdTpl let-row="row">
  <ng-container *ngIf="row?.completedTrade?.auctionId">
    <app-text-clipper [text]="row.completedTrade.auctionId"></app-text-clipper>
  </ng-container>
</ng-template>

<ng-template #bidIdTpl let-row="row">
  <ng-container *ngIf="row?.completedTrade?.bidId">
    <app-text-clipper [text]="row.completedTrade.bidId"></app-text-clipper>
  </ng-container>
</ng-template>

<ng-template #senderTpl let-row="row">
  <app-text-clipper [text]="row.senderPublicKey"></app-text-clipper>
</ng-template>

<ng-template #timestampTpl let-row="row">
  {{ row?.timestamp?.human | dateFnsFormat }}
</ng-template>

<ng-container *ngLet="getBaseUrl$ | async"></ng-container>

<ng-template #pageTitleTpl>
  <app-page-header>
    <nz-space>
      <nz-space-item>
        <h4 nz-typography nzType="secondary">Trades</h4>
      </nz-space-item>
      <nz-space-item>
        <app-popover-helper
          placement="right"
          [popoverContent]="pageTitleHelperTpl"
        ></app-popover-helper>
      </nz-space-item>
    </nz-space>
  </app-page-header>
  <ng-template #pageTitleHelperTpl>
    Auction transfer trades
  </ng-template>
</ng-template>
