<div [class]="options?.htmlClass || ''">
  <app-form-label *ngIf="options?.title">
    <nz-form-label
      [attr.nzFor]="'control' + layoutNode?._id"
      [innerHTML]="options?.title"
      [class]="options?.labelHtmlClass || ''"
      [style.display]="options?.notitle ? 'none' : ''"
    ></nz-form-label>
  </app-form-label>
  <input
    *ngIf="boundControl"
    nz-input
    [formControl]="formControl"
    [attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
    [attr.max]="options?.maximum"
    [attr.min]="options?.minimum"
    [attr.placeholder]="options?.placeholder"
    [attr.required]="options?.required"
    [attr.readonly]="options?.readonly ? 'readonly' : null"
    [attr.step]="options?.multipleOf || options?.step || 'any'"
    [class]="options?.fieldHtmlClass || ''"
    [id]="'control' + layoutNode?._id"
    [name]="controlName"
    [readonly]="options?.readonly ? 'readonly' : null"
    [title]="lastValidNumber"
    [type]="layoutNode?.type === 'range' ? 'range' : 'number'"
  />
  <input
    *ngIf="!boundControl"
    nz-input
    [attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
    [attr.max]="options?.maximum"
    [attr.min]="options?.minimum"
    [attr.placeholder]="options?.placeholder"
    [attr.required]="options?.required"
    [attr.readonly]="options?.readonly ? 'readonly' : null"
    [attr.step]="options?.multipleOf || options?.step || 'any'"
    [class]="options?.fieldHtmlClass || ''"
    [disabled]="controlDisabled"
    [id]="'control' + layoutNode?._id"
    [name]="controlName"
    [readonly]="options?.readonly ? 'readonly' : null"
    [title]="lastValidNumber"
    [type]="layoutNode?.type === 'range' ? 'range' : 'number'"
    [value]="controlValue"
    (input)="updateValue($event)"
  />
  <span *ngIf="layoutNode?.type === 'range'" [innerHTML]="controlValue"></span>
</div>
