<div nz-row [nzGutter]="[24, 12]">
  <div nz-col [nzSpan]="18">
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="asset">Choose asset</nz-form-label>
      <nz-form-control
        id="asset"
        nzErrorTip="Please select an asset!"
        nzHasFeedback
      >
        <app-asset-select
          [formControl]="assetDropdownFormControl"
          [ownerAddress]="ownerAddress$ | async"
          [filterOutIds]="filterOutAssets$ | async"
        ></app-asset-select>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col [nzSpan]="6">
    <nz-form-item>
      <app-form-label>
        <nz-form-label>&nbsp;</nz-form-label>
      </app-form-label>
      <nz-form-control>
        <ng-container *ngLet="assetDropdownFormControl.value as assetValue">
          <button nz-button nzType="default" class="w-100" (click)="onAddNft($event, assetDropdownFormControl.value)">
            Add asset
          </button>
        </ng-container>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>

<nz-form-item>
  <nz-form-control>
    <nz-list nzBordered nzSize="small">
      <nz-list-header>Nft ids</nz-list-header>
      <ng-container
        *ngFor="let item of form.controls; let formGroupIndex = index"
      >
        <ng-container
          *ngLet="form.controls[formGroupIndex].get('nftId').value as nftId"
        >
          <nz-list-item class="font-monospace">
            {{ nftId }}
            <ul nz-list-item-actions>
              <nz-list-item-action>
                <a (click)="onRemoveNft($event, formGroupIndex, nftId)">remove</a>
              </nz-list-item-action>
            </ul>
          </nz-list-item>
        </ng-container>
      </ng-container>
    </nz-list>
  </nz-form-control>
</nz-form-item>
