<nz-space nzDirection="vertical" nzSize="middle">
  <nz-space-item>
    <div class="header">
      <div>
        <ng-container *ngTemplateOutlet="pageTitleTpl"></ng-container>
      </div>
      <div>
        <button nz-button nzType="primary" (click)="addMyNode($event)">
          Add my node
        </button>
      </div>
    </div>
  </nz-space-item>
  <nz-space-item>
    <app-table
      [isLoading]="isLoading$ | async"
      [rows]="myNodes$ | async"
      [tableColumns]="tableColumns"
      (paginationChange)="paginationChange($event)"
      [isFrontPagination]="true"
      scrollY="calc(100vh - 300px)"
    >
    </app-table>
  </nz-space-item>
</nz-space>

<ng-template #ipTpl let-row="row">
  <ng-container *ngIf="row">
    {{ PeerUtils.getIpFromMyNode(row) }}
  </ng-container>
</ng-template>

<ng-template #actionsTpl let-row="row">
  <button
    nzType="default"
    nz-button
    nz-dropdown
    [nzDropdownMenu]="configurationMenu"
    nzPlacement="bottomRight"
  >
    Actions
  </button>
  <nz-dropdown-menu #configurationMenu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item (click)="showConfig($event, row)">Config</li>
      <li
        nz-menu-item
        [nzDisabled]="isLoadingNodeManager$ | async"
        (click)="managePeer($event, row)"
      >
        Manage
      </li>
      <li nz-menu-item (click)="removeMyNode($event, row)">
        Remove my node
      </li>
    </ul>
  </nz-dropdown-menu>
</ng-template>

<ng-template #pageTitleTpl>
  <app-page-header>
    <nz-space>
      <nz-space-item>
        <h4 nz-typography nzType="secondary">My Nodes</h4>
      </nz-space-item>
      <nz-space-item>
        <app-popover-helper
          placement="right"
          [popoverContent]="pageTitleHelperTpl"
        ></app-popover-helper>
      </nz-space-item>
    </nz-space>
  </app-page-header>
  <ng-template #pageTitleHelperTpl>
    Saved nodes
  </ng-template>
</ng-template>
