<app-table [rows]="rows$" [tableColumns]="tableColumns" scrollY="15vh">
</app-table>

<ng-template #actionsTpl let-row="row">
  <ng-container *ngLet="isXxlScreen$ | async as isXxlScreen">
    <ng-container *ngLet="rowsLoading$ | async as rowsLoading">
      <ng-container *ngLet="rowsLoading[row.name].isLoading as isRowLoading">
        <ng-container *ngLet="rowsLoading[row.name].type as loadingActionType">
          <nz-space [nzDirection]="isXxlScreen ? 'horizontal' : 'vertical'">
            <nz-space-item>
              <ng-template #argsProcessStartModalTitleTpl>
                <app-modal-header>
                  <h4 nz-typography nzType="secondary">
                    Process start "{{ row.name }}" args
                  </h4>
                </app-modal-header>
              </ng-template>
              <button
                nz-button
                nzType="primary"
                [disabled]="isRowLoading || row.status === 'online'"
                [nzLoading]="loadingActionType === 'start'"
                (click)="
                  startProcess($event, row, argsProcessStartModalTitleTpl)
                "
              >
                Start
              </button>
            </nz-space-item>
            <nz-space-item>
              <button
                nz-button
                nzType="dashed"
                [disabled]="isRowLoading"
                [nzLoading]="loadingActionType === 'restart'"
                nz-popconfirm
                nzPopconfirmTitle="Are you sure?"
                (nzOnConfirm)="restartProcess(row)"
                nzOkText="Yes"
                nzCancelText="No"
              >
                Restart
              </button>
            </nz-space-item>
            <nz-space-item>
              <button
                nz-button
                nzType="danger"
                [disabled]="isRowLoading || row.status !== 'online'"
                [nzLoading]="loadingActionType === 'stop'"
                nz-popconfirm
                nzPopconfirmTitle="Are you sure?"
                (nzOnConfirm)="processStop(row)"
                nzOkText="Yes"
                nzCancelText="No"
              >
                Stop
              </button>
            </nz-space-item>
            <nz-space-item>
              <button
                nz-button
                nzType="dashed"
                (click)="logProcess($event, row)"
              >
                Log
              </button>
            </nz-space-item>
          </nz-space>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #statusTpl let-row="row">
  <nz-badge
    [nzStatus]="row.status === 'online' ? 'success' : 'error'"
    [nzText]="transformText(row.status)"
  ></nz-badge>
</ng-template>

<ng-template #memoryTpl let-row="row">
  {{ formatMemory(row?.monit?.memory) }} MB
</ng-template>

<ng-template #cpuTpl let-row="row"> {{ row?.monit?.cpu }}% </ng-template>

<ng-template #terminalModalTitleTpl>
  <app-modal-header>
    <ng-container *ngIf="terminalViewName$ | async as terminalViewName">
      <h4 nz-typography nzType="secondary">
        Log process "{{ terminalViewName }}"
      </h4>
    </ng-container>
  </app-modal-header>
</ng-template>
