<nz-select
  (nzScrollToBottom)="next()"
  nzPlaceHolder="Select wallet address"
  [nzDropdownRender]="renderTemplate"
  [formControl]="formControl"
  ngDefaultControl
  nzShowSearch
  nzServerSearch
  (nzOnSearch)="onSearchChanged($event)"
  [nzDisabled]="isDisabled$ | async"
>
  <ng-container *ngIf="labelProp$ | async as labelProp">
    <ng-container *ngFor="let wallet of wallets$ | async">
      <nz-option [nzValue]="wallet" [nzLabel]="wallet[labelProp]" nzCustomContent>
        <span class="font-monospace">{{ wallet[labelProp] }}</span>
      </nz-option>
    </ng-container>
  </ng-container>
</nz-select>
<ng-template #renderTemplate>
  <ng-container *ngIf="isLoading$ | async">
    <nz-space nzDirection="horizontal" nzSize="small">
      <nz-space-item></nz-space-item>
      <nz-space-item>
        <i nz-icon nzType="loading"></i> Loading Data...
      </nz-space-item>
    </nz-space>
  </ng-container>
</ng-template>
