:host ::ng-deep {
  .ant-table-body {
    min-height: calc(100vh - 365px);
    overflow-x: hidden;

    .ant-table-body {
      min-height: 20vh;
      overflow-x: hidden;
    }
  }
}

.auction-modal-btn {
  margin-left: 1rem;
}

:host:not(.canceled) ::ng-deep {
  .ant-table-body {
    table {
      th,
      tr {
        td:first-child {
          width: 50px;
        }
      }
    }

    .ant-table-body {
      table {
        th,
        tr {
          td:first-child {
            width: unset;
          }
        }
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
