<app-table
  [isLoading]="isLoading$ | async"
  [rows]="rows$"
  [tableColumns]="tableColumns"
  [meta]="meta$ | async"
  (paginationChange)="paginationChange($event)"
  scrollY="75vh"
>
</app-table>

<ng-template #myNodeTpl let-row="row">
  <ng-container *ngIf="isFavNode$(row) | async; else notFavIconTpl">
    <i class="fav-icon" nz-icon nzType="star" nzTheme="fill"></i>
  </ng-container>
</ng-template>

<ng-template #notFavIconTpl>
  <i class="fav-icon" nz-icon nzType="star"></i>
</ng-template>

<ng-template #pluginsTpl let-row="row">
  <ng-container *ngIf="row.plugins">
    <ng-container *ngFor="let plugin of row.plugins | keyvalue">
      <ng-container *ngLet="plugin.value as pluginOpt">
        <div class="plugin-item">
          <label nz-checkbox nzDisabled [ngModel]="pluginOpt.enabled"></label>
          &nbsp;<b>{{ plugin.key }}</b
          >: {{ plugin.value?.port }}<br />
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #latencyTpl let-row="row">
  <ng-container *ngIf="row?.latency as latency">
    <app-text-animate [value]="latency"></app-text-animate>
  </ng-container>
</ng-template>

<ng-template #heightTpl let-row="row">
  <ng-container *ngIf="row?.height as height">
    <app-text-animate [value]="height"></app-text-animate>
  </ng-container>
</ng-template>

<ng-template #actionsTpl let-row="row">
  <button
    nzType="default"
    nz-button
    nz-dropdown
    [nzDropdownMenu]="configurationMenu"
    nzPlacement="bottomRight"
  >
    Actions
  </button>
  <nz-dropdown-menu #configurationMenu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item (click)="showConfig($event, row)">Config</li>
      <li
        nz-menu-item
        [nzDisabled]="isLoadingNodeManager$ | async"
        (click)="managePeer($event, row)"
      >
        Manage
      </li>
      <ng-container *ngLet="isAddingToMyNodesLoading$ | async as isLoading">
        <ng-container *ngIf="isFavNode$(row) | async as isFavNode; else favTpl">
          <li
            nz-menu-item
            [nzDisabled]="isLoading"
            (click)="removeMyNode($event, row)"
          >
            Remove my node
          </li>
        </ng-container>
        <ng-template #favTpl>
          <li
            nz-menu-item
            [nzDisabled]="isLoading"
            (click)="addToMyNodes($event, row)"
          >
            Add to My nodes
          </li>
        </ng-template>
      </ng-container>
    </ul>
  </nz-dropdown-menu>
</ng-template>

<ng-template #nodeManagerSettingsModalTitleTpl>
  <app-modal-header>
    <h4 nz-typography nzType="secondary">
      Node manager authorization settings
    </h4>
  </app-modal-header>
</ng-template>
