@import "src/theme/theme-variables";

:host {
  width: 100%;
}

:host ::ng-deep {
  thead {
    tr {
      th:first-child {
        font-weight: bold;
      }
    }
  }

  tbody {
    tr {
      td {
        a {
          color: black;
        }

        &:nth-child(2) {
          font-weight: bold;
        }
      }

      &.group-details {
        td {
          padding-top: 5px;
          padding-bottom: 5px;

          &:nth-child(2) {
            padding-left: 30px;
            font-style: italic;
            font-weight: normal;
          }
        }
      }
    }
  }

  .switch-allow {
    button {
      &.ant-switch-checked {
        background-color: $switch-checked-color;
      }
    }
  }

  .switch-deny {
    button {
      &.ant-switch-checked {
        background-color: $switch-unchecked-color;
      }
    }
  }
}
