<nz-space nzDirection="vertical" nzSize="middle">
  <nz-space-item>
    <div class="header">
      <div>
        <ng-container *ngTemplateOutlet="pageTitleTpl"></ng-container>
      </div>
      <div>
        <button nz-button nzType="primary" (click)="showCreateAssetModal($event)">
          Create Asset
        </button>
      </div>
    </div>
  </nz-space-item>
  <nz-space-item>
    <app-table
      [isLoading]="isLoading$ | async"
      [rows]="rows$"
      [tableColumns]="tableColumns"
      [meta]="meta$ | async"
      (paginationChange)="paginationChange($event)"
      scrollY="calc(100vh - 365px)"
    >
    </app-table>
  </nz-space-item>
</nz-space>

<ng-template #actionsTpl let-row="row">
  <button nz-button nzType="default" (click)="showAttributes($event, row)">
    Attributes
  </button>
</ng-template>

<ng-template #idTpl let-row="row">
  <app-text-clipper [text]="row.id"></app-text-clipper>
</ng-template>

<ng-template #collectionNameTpl let-row="row">
  {{ row.collection.name }}
</ng-template>

<ng-template #ownerTpl let-row="row">
  <app-text-clipper
    [text]="row.ownerPublicKey"
    [copy]="false"
    (clicked)="onWalletDetailsClick(row.ownerPublicKey, row.id)"
  ></app-text-clipper>
</ng-template>

<ng-template #senderTpl let-row="row">
  <app-text-clipper
    [text]="row.senderPublicKey"
    [copy]="false"
    (clicked)="onWalletDetailsClick(row.senderPublicKey, row.id)"
  ></app-text-clipper>
</ng-template>

<ng-template #timestampTpl let-row="row">
  {{ row?.timestamp?.human | dateFnsFormat }}
</ng-template>

<ng-container *ngLet="getBaseUrl$ | async"></ng-container>

<ng-template #pageTitleTpl>
  <app-page-header>
    <nz-space>
      <nz-space-item>
        <h4 nz-typography nzType="secondary">Assets</h4>
      </nz-space-item>
      <nz-space-item>
        <app-popover-helper
          placement="right"
          [popoverContent]="pageTitleHelperTpl"
        ></app-popover-helper>
      </nz-space-item>
    </nz-space>
  </app-page-header>
  <ng-template #pageTitleHelperTpl>
    Add assets and view asset details
  </ng-template>
</ng-template>
