<form nz-form [formGroup]="collectionForm" nzNoColon="true" novalidate>
  <div nz-row [nzGutter]="[24, 12]">
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="collection" nzRequired>
          Choose collection
        </nz-form-label>
        <nz-form-control
          class="collection-form-control"
          id="collection"
          nzErrorTip="Please select a collection!"
          nzHasFeedback
        >
          <app-collection-select formControlName="collection">
          </app-collection-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-form-item>
        <nz-form-control>
          <label nz-checkbox (nzCheckedChange)="isMultipleAssetsEnabled$.next($event)">
            <nz-form-label>Multiple assets</nz-form-label>
          </label>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" [hidden]="(isMultipleAssetsEnabled$ | async) === false">
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="numOfAssets" nzRequired>
          Number of assets
        </nz-form-label>
        <nz-form-control [nzErrorTip]="numOfAssetsErrorTpl">
          <nz-input-number
            [nzMin]="1"
            [nzMax]="getTransactionBatchLimit()"
            [nzStep]="1"
            [formControl]="numOfAssetsFormControl"
            nzPlaceHolder="Number of assets"
            nzPrecisionMode="cut"
          >
          </nz-input-number>
        </nz-form-control>
        <ng-template #numOfAssetsErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            <span nz-typography nzType="danger">
              Please enter number of assets!
            </span>
          </ng-container>
          <ng-container *ngIf="control.hasError('min')">
            <span nz-typography nzType="danger">
              Number of assets should be at least 1
            </span>
          </ng-container>
          <ng-container *ngIf="control.hasError('max')">
            <span nz-typography nzType="danger">
              Number of assets should be at most {{ getTransactionBatchLimit }}
            </span>
          </ng-container>
        </ng-template>
      </nz-form-item>
    </div>
  </div>

  <ng-container *ngIf="collection$ | async as selectedCollection">
    <nz-divider></nz-divider>

    <app-schema-container>
      <app-schema-container-item editor>
        <json-editor
          [options]="editorOptions"
          [data]="selectedCollection.jsonSchema"
          disabled="disabled"
        ></json-editor>
      </app-schema-container-item>
      <app-schema-container-item form>
        <json-schema-form
          loadExternalAssets="true"
          [schema]="selectedCollection.jsonSchema"
          [debug]="!isProduction"
          [framework]="framework"
          [(data)]="asset"
          (isValid)="isAssetValid($event)"
          (validationErrors)="assetValidationErrors($event)"
        >
        </json-schema-form>
      </app-schema-container-item>
    </app-schema-container>
  </ng-container>
</form>

<ng-template #modalTitleTpl>
  <app-modal-header [modalRef]="modalRef">
    <nz-space>
      <nz-space-item>
        <h4 nz-typography nzType="secondary">Create new asset</h4>
      </nz-space-item>
      <nz-space-item>
        <app-popover-helper
          placement="right"
          [popoverContent]="createAssetHelperTpl"
        ></app-popover-helper>
      </nz-space-item>
    </nz-space>
  </app-modal-header>
  <ng-template #createAssetHelperTpl>
    Create an instance of selected collection
  </ng-template>
</ng-template>

<div *nzModalFooter>
  <button
    class="upload-btn"
    nz-button
    nzType="dashed"
    [disabled]="!collectionForm.valid"
    (click)="onUploadFile($event)"
  >
    Upload
  </button>
  <ng-container *ngLet="isMultipleAssetsEnabled$ | async as isMultipleAssetsEnabled">
    <button
      nz-button
      nzType="primary"
      [nzLoading]="isLoading$ | async"
      [disabled]="
      (isAssetValid$ | async) === false ||
      (isLoading$ | async) ||
      !collectionForm.valid ||
      (isMultipleAssetsEnabled && !numOfAssetsFormControl.valid)
    "
      (click)="createAsset($event)"
    >
      Create
    </button>
  </ng-container>
</div>
