<app-table
  [isLoading]="isLoading$ | async"
  [rows]="rows$"
  [tableColumns]="tableColumns"
  [meta]="meta$ | async"
  (paginationChange)="paginationChange($event)"
  scrollY="75vh"
>
</app-table>

<ng-template #idTpl let-row="row">
  <app-text-clipper [text]="row.id"></app-text-clipper>
</ng-template>

<ng-template #senderTpl let-row="row">
  <app-text-clipper
    [copy]="false"
    (clicked)="
      onWalletDetailsClick(row.senderPublicKey, row.nftTransfer.nftIds[0])
    "
    [text]="row.senderPublicKey"
  ></app-text-clipper>
</ng-template>

<ng-template #receiverTpl let-row="row">
  <ng-container *ngIf="row.nftTransfer && row.nftTransfer.recipientId">
    <app-text-clipper
      [copy]="false"
      (clicked)="
        onWalletDetailsClick(
          row.nftTransfer.recipientId,
          row.nftTransfer.nftIds[0]
        )
      "
      [text]="row.nftTransfer.recipientId"
    ></app-text-clipper>
  </ng-container>
</ng-template>

<ng-template #assetsTpl let-row="row">
  <ng-container *ngIf="row.nftTransfer && row.nftTransfer.nftIds">
    <ng-container *ngFor="let nftId of row.nftTransfer.nftIds">
      <app-text-clipper
        [copy]="false"
        (clicked)="onAssetClick(nftId)"
        [text]="nftId"
      ></app-text-clipper>
    </ng-container>
  </ng-container>
</ng-template>
