<app-table [rows]="rows$" [tableColumns]="tableColumns" scrollY="15vh">
</app-table>

<ng-template #actionsTpl let-row="row">
  <ng-container *ngLet="rowsLoading$ | async as rowsLoading">
    <ng-container *ngLet="rowsLoading[row.name] as isRowLoading">
      <ng-template #terminalModalTitleTpl>
        <app-modal-header>
          <ng-container *ngIf="row.name as logName">
            <h4 nz-typography nzType="secondary">
              {{ logName }}
            </h4>
          </ng-container>
        </app-modal-header>
      </ng-template>

      <button
        nz-button
        nzType="default"
        (click)="viewLog($event, row, terminalModalTitleTpl)"
        [nzLoading]="isRowLoading"
      >
        View
      </button>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #sizeTpl let-row="row"> {{ row?.size }} KB </ng-template>
