<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a routerLink="/dashboard">
        <img src="assets/images/logos/protokol-logo-primary.svg" alt="logo" />
        <h1>Protokol</h1>
      </a>
    </div>
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Assets" nzIcon="block">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/collections">Collections</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/assets">Assets</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/transfers">Transfers</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/burns">Burns</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Users" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/wallets">Wallets</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
        <ng-container *ngIf="selectedProfile$ | async as selectedProfile">
          <nz-avatar
            nz-dropdown
            nzPlacement="bottomRight"
            [nzDropdownMenu]="menu"
            [nzText]="selectedProfile.name.charAt(0)"
          ></nz-avatar>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <a routerLink="/dashboard/profiles">Switch profile</a>
              </li>
              <li nz-menu-item (click)="onSignOut($event)">Sign out</li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
