<form
  nz-form
  (ngSubmit)="selectNode($event)"
  [formGroup]="selectMyNodeForm"
  nzNoColon="true"
  novalidate
>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="node" nzRequired>Select my node</nz-form-label>
    <nz-form-control nzErrorTip="Please select node!">
      <ng-container *ngLet="selectedNodeUrl$ | async as selectedNodeUrl">
        <ng-container *ngLet="myNodes$ | async as myNodes">
          <nz-select formControlName="nodeUrl">
            <ng-container *ngFor="let node of myNodes">
              <nz-option
                [nzValue]="node.nodeUrl"
                [nzLabel]="node.nodeUrl"
                [nzDisabled]="selectedNodeUrl === node.nodeUrl"
              >
              </nz-option>
            </ng-container>
          </nz-select>
        </ng-container>
      </ng-container>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #modalTitleTpl>
  <app-modal-header>
    <nz-space>
      <nz-space-item>
        <h4 nz-typography nzType="secondary">
          Select node
        </h4>
      </nz-space-item>
      <nz-space-item>
        <app-popover-helper
          placement="right"
          [popoverContent]="nodeDetailsHelperTpl"
        ></app-popover-helper>
      </nz-space-item>
    </nz-space>
  </app-modal-header>
  <ng-template #nodeDetailsHelperTpl>
    Select node to manage it
  </ng-template>
</ng-template>

<div *nzModalFooter class="footer">
  <button
    nz-button
    nzType="primary"
    [nzLoading]="isLoading$ | async"
    [disabled]="(isLoading$ | async) && !addMyNodeForm.valid"
    (click)="addNewNode($event)"
  >
    Add my node
  </button>
  <button
    nz-button
    nzType="primary"
    [disabled]="(isLoading$ | async) || !selectMyNodeForm.valid"
    (click)="selectNode($event)"
  >
    Select
  </button>
</div>

