<nz-table
  nzShowSizeChanger
  [nzScroll]="{ x: scrollX$ | async, y: scrollY$ | async }"
  [nzPageSizeOptions]="[10, 50, 100]"
  [nzData]="rows$ | async"
  [nzFrontPagination]="isFrontPagination$ | async"
  [nzLoading]="isLoading$ | async"
  [nzTotal]="(pagination$ | async).total"
  [nzPageSize]="(pagination$ | async).pageSize"
  [nzPageIndex]="(pagination$ | async).pageIndex"
  (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
    <tr>
      <ng-container *ngIf="isExpandable$ | async">
        <th></th>
      </ng-container>

      <ng-container *ngFor="let header of headers">
        <ng-container *ngIf="header.sortBy; else headerWithoutSortTpl">
          <th
            [nzColumnKey]="header.propertyName"
            [nzSortFn]="true"
            nzCustomFilter
          >
            <ng-container
              *ngTemplateOutlet="headerTpl; context: { header: header }"
            >
            </ng-container>
            <ng-container *ngIf="header.searchBy">
              <ng-container
                *ngTemplateOutlet="headerSearchTpl; context: { header: header }"
              >
              </ng-container>
            </ng-container>
          </th>
        </ng-container>
        <ng-template #headerWithoutSortTpl>
          <th [nzColumnKey]="header.propertyName" nzCustomFilter>
            <ng-container
              *ngTemplateOutlet="headerTpl; context: { header: header }"
            >
            </ng-container>
            <ng-container *ngIf="header.searchBy">
              <ng-container
                *ngTemplateOutlet="headerSearchTpl; context: { header: header }"
              >
              </ng-container>
            </ng-container>
          </th>
        </ng-template>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let row of rows$ | async">
      <tr>
        <ng-container *ngIf="isExpandable$ | async">
          <ng-container *ngIf="expandableRows$ | async as expandableRows">
            <td
              [nzExpand]="expandableRows[row.id]"
              (nzExpandChange)="onExpandChange($event, row.id)"
            ></td>
          </ng-container>
        </ng-container>

        <ng-container *ngFor="let header of headers">
          <td nzBreakWord>
            <ng-container
              *ngIf="header.columnTransformTpl; else columnTransform"
            >
              <ng-container
                *ngTemplateOutlet="
                  header.columnTransformTpl;
                  context: { row: row }
                "
              >
              </ng-container>
            </ng-container>

            <ng-template #columnTransform>
              <ng-container *ngIf="header.columnTransform; else columnProperty">
                {{ header.columnTransform(row, row[header.propertyName]) }}
              </ng-container>
            </ng-template>

            <ng-template #columnProperty>
              {{ row[header.propertyName] }}
            </ng-template>
          </td>
        </ng-container>
      </tr>
      <ng-container *ngIf="isExpandable$ | async">
        <ng-container *ngIf="expandableRows$ | async as expandableRows">
          <tr [nzExpand]="expandableRows[row.id]">
            <ng-container *ngIf="expandTpl">
              <ng-container
                *ngTemplateOutlet="expandTpl; context: { row: row }"
              >
              </ng-container>
            </ng-container>
          </tr>
        </ng-container>
      </ng-container>
    </ng-container>
  </tbody>
</nz-table>

<ng-template #headerTpl let-header="header">
  <ng-template *ngIf="header.headerNameTpl; else headerNameTpl">
    <ng-container *ngTemplateOutlet="header.headerNameTpl"> </ng-container>
  </ng-template>
  <ng-template #headerNameTpl>
    {{ header.headerName }}
  </ng-template>
</ng-template>

<ng-template #headerSearchTpl let-header="header">
  <nz-filter-trigger
    [(nzVisible)]="search[header.propertyName].isVisible"
    [nzActive]="!!search[header.propertyName].value"
    [nzDropdownMenu]="searchMenu"
  >
    <i nz-icon nzType="search"></i>
  </nz-filter-trigger>

  <nz-dropdown-menu #searchMenu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <label>
          <input
            type="text"
            nz-input
            [placeholder]="'Search ' + header.headerName"
            [(ngModel)]="search[header.propertyName].value"
          />
        </label>
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          (click)="searchChanged($event)"
          class="search-button"
        >
          Search
        </button>
        <button
          nz-button
          nzSize="small"
          (click)="searchReset($event, header.propertyName)"
        >
          Reset
        </button>
      </div>
    </div>
  </nz-dropdown-menu>
</ng-template>
