<form nz-form [formGroup]="managerSettingsForm" nzLayout="vertical" novalidate>
  <app-node-manager-form
    formControlName="coreManagerAuth"
  ></app-node-manager-form>
</form>

<div *nzModalFooter>
  <div class="button-wrapper">
    <button
      nz-button
      nzType="primary"
      [nzLoading]="isLoading$ | async"
      [disabled]="(isLoading$ | async) || !managerSettingsForm.valid"
      (click)="onManagerSettingsFormSubmit($event)"
    >
      Update settings
    </button>
  </div>
</div>
