.text-white {
  color: $white-color;
}

.ant-form-item-label {
  text-align: left;

  > label {
    text-transform: capitalize;
    overflow: visible;

    &.ant-form-item-required.ant-form-item-required.ant-form-item-required {
      &::before {
        color: $error-color;
        position: absolute;
        right: 2px;
        margin: 0;
      }
    }
  }
}

.app-modal-expanded {
  /* stylelint-disable declaration-no-important */
  width: 100vw !important;
  /* stylelint-enable declaration-no-important */
  padding: 10px 0;
  top: 0;
}
