.text-white {
  color: $white-color;
}

.ant-form-item-label {
  > label {
    &.ant-form-item-required.ant-form-item-required.ant-form-item-required {
      &::before {
        color: $error-color;
      }
    }
  }
}

.app-modal-expanded {
  /* stylelint-disable declaration-no-important */
  width: 100vw !important;
  /* stylelint-enable declaration-no-important */
  padding: 10px 0;
  top: 0;
}
