$primary-color: #429ef5;
$info-color: #142b4d;
$success-color: #66cfdb;
$processing-color: #bd66e5;
$error-color: #ff545c;
$highlight-color: #dee3f7;
$warning-color: #f58542;
$bg-color-primary: #e3e3e3;
