.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.m-0 {
  /* stylelint-disable declaration-no-important */
  margin: 0 !important;
  /* stylelint-enable declaration-no-important */
}
