<ng-container *ngIf="isFormReady$ | async; else formLoadingTpl">
  {{transactionTypes$ | async | json}}
  <nz-table
    #permissionsTable
    [nzData]="transactionTypes$ | async"
    [nzShowPagination]="false"
  >
    <thead>
      <tr>
        <th class="text-capitalize">Transaction group</th>
        <th class="text-capitalize">Permissions</th>
        <th class="text-capitalize">Deny / Allow</th>
        <th class="text-capitalize">Details</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of permissionsTable.data">
      </ng-container>
    </tbody>
  </nz-table>
</ng-container>

<ng-template #formLoadingTpl>
  <nz-spin nzSimple class="text-center"></nz-spin>
</ng-template>
