<nz-space nzDirection="vertical" nzSize="middle">
  <nz-space-item>
    <div class="header">
      <ng-container *ngTemplateOutlet="pageTitleTpl"></ng-container>
    </div>
  </nz-space-item>
  <nz-space-item>
    <app-table
      [isLoading]="isLoading$ | async"
      [rows]="rows$"
      [tableColumns]="tableColumns"
      [meta]="meta$ | async"
      (paginationChange)="paginationChange($event)"
      scrollY="calc(100vh - 365px)"
    >
    </app-table>
  </nz-space-item>
</nz-space>

<ng-template #idTpl let-row="row">
  <app-text-clipper [text]="row.id"></app-text-clipper>
</ng-template>

<ng-template #senderTpl let-row="row">
  <app-text-clipper
    [copy]="false"
    (clicked)="onWalletDetailsClick(row.senderPublicKey, row.nftBurn.nftId)"
    [text]="row.senderPublicKey"
  ></app-text-clipper>
</ng-template>

<ng-template #assetsTpl let-row="row">
  <ng-container *ngIf="row.nftBurn && row.nftBurn.nftId as nftId">
    <app-text-clipper
      [copy]="false"
      (clicked)="onAssetClick(nftId)"
      [text]="nftId"
    ></app-text-clipper>
  </ng-container>
</ng-template>

<ng-template #timestampTpl let-row="row">
  {{ row?.timestamp?.human | dateFnsFormat }}
</ng-template>

<ng-container *ngLet="getBaseUrl$ | async"></ng-container>

<ng-template #pageTitleTpl>
  <app-page-header>
    <nz-space>
      <nz-space-item>
        <h4 nz-typography nzType="secondary">Burns</h4>
      </nz-space-item>
      <nz-space-item>
        <app-popover-helper
          placement="right"
          [popoverContent]="pageTitleHelperTpl"
        ></app-popover-helper>
      </nz-space-item>
    </nz-space>
  </app-page-header>
  <ng-template #pageTitleHelperTpl>
    Asset burns
  </ng-template>
</ng-template>
