<div [class]="options?.htmlClass || ''">
  <label
    *ngIf="options?.title"
    [attr.for]="'control' + layoutNode?._id"
    [class]="options?.labelHtmlClass || ''"
    [style.display]="options?.notitle ? 'none' : ''"
    [innerHTML]="options?.title"
  ></label>
  <input
    *ngIf="boundControl"
    nz-input
    [formControl]="formControl"
    [attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
    [attr.list]="'control' + layoutNode?._id + 'Autocomplete'"
    [attr.maxlength]="options?.maxLength"
    [attr.minlength]="options?.minLength"
    [attr.pattern]="options?.pattern"
    [attr.placeholder]="options?.placeholder"
    [attr.required]="options?.required"
    [class]="options?.fieldHtmlClass || ''"
    [id]="'control' + layoutNode?._id"
    [name]="controlName"
    [readonly]="options?.readonly ? 'readonly' : null"
    [type]="layoutNode?.type"
  />
  <input
    *ngIf="!boundControl"
    nz-input
    [attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
    [attr.list]="'control' + layoutNode?._id + 'Autocomplete'"
    [attr.maxlength]="options?.maxLength"
    [attr.minlength]="options?.minLength"
    [attr.pattern]="options?.pattern"
    [attr.placeholder]="options?.placeholder"
    [attr.required]="options?.required"
    [class]="options?.fieldHtmlClass || ''"
    [disabled]="controlDisabled"
    [id]="'control' + layoutNode?._id"
    [name]="controlName"
    [readonly]="options?.readonly ? 'readonly' : null"
    [type]="layoutNode?.type"
    [value]="controlValue"
    (input)="updateValue($event)"
  />

  <nz-select
    *ngIf="options?.typeahead?.source"
    [id]="'control' + layoutNode?._id + 'Autocomplete'"
  >
    <ng-container *ngFor="let word of options?.typeahead?.source">
      <nz-option [nzValue]="word" [nzLabel]="word"></nz-option>
    </ng-container>
  </nz-select>
</div>
