<form nz-form [formGroup]="form" nzNoColon="true" novalidate>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="login-type" nzRequired>Manager port</nz-form-label>
    <nz-form-control [nzErrorTip]="portErrorTpl" nzSpan="10">
      <nz-input-group nzPrefixIcon="api">
        <input
          type="number"
          nz-input
          formControlName="port"
          placeholder="Insert port"
        />
        <ng-template #portErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            <span nz-typography nzType="danger">
              Please input port number!
            </span>
          </ng-container>
          <ng-container *ngIf="control.hasError('min')">
            <span nz-typography nzType="danger">
              Port number should be bigger than 0!
            </span>
          </ng-container>
          <ng-container *ngIf="control.hasError('max')">
            <span nz-typography nzType="danger">
              Port number should be smaller or equal 65535!
            </span>
          </ng-container>
        </ng-template>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzFor="login-type">Manager authentication</nz-form-label>
    <nz-form-control nzErrorTip="Choose authorization method!">
      <nz-radio-group id="login-type" formControlName="loginType">
        <label nz-radio [nzValue]="NodeManagerLoginSettingsEnum.None"
          >None</label
        >
        <label nz-radio [nzValue]="NodeManagerLoginSettingsEnum.Token"
          >Token</label
        >
        <label nz-radio [nzValue]="NodeManagerLoginSettingsEnum.Basic"
          >Basic</label
        >
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>

  <ng-container
    *ngIf="c('loginType').value === NodeManagerLoginSettingsEnum.Token"
  >
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="token" nzRequired>Secret token</nz-form-label>
      <nz-form-control nzErrorTip="Please enter your secret token!">
        <nz-input-group>
          <input
            id="token"
            type="text"
            nz-input
            formControlName="secretToken"
            placeholder="Insert secret token"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </ng-container>

  <ng-container
    *ngIf="c('loginType').value === NodeManagerLoginSettingsEnum.Basic"
  >
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="username" nzRequired>Username</nz-form-label>
      <nz-form-control nzErrorTip="Please enter your username!">
        <nz-input-group>
          <input
            id="username"
            type="text"
            nz-input
            formControlName="loginUsername"
            placeholder="Insert username"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="password" nzRequired>Password</nz-form-label>
      <nz-form-control nzErrorTip="Please enter your password!">
        <nz-input-group>
          <input
            id="password"
            type="password"
            nz-input
            formControlName="loginPassword"
            placeholder="Insert password"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </ng-container>
</form>
