<nz-select
  (nzScrollToBottom)="next()"
  nzPlaceHolder="Select asset"
  [nzDropdownRender]="renderTemplate"
  [formControl]="formControl"
  ngDefaultControl
  nzShowSearch
  nzServerSearch
  (nzOnSearch)="onSearchChanged($event)"
>
  <ng-container *ngFor="let asset of assets$ | async">
    <nz-option [nzValue]="asset" [nzLabel]="asset.id" nzCustomContent>
      <span class="font-monospace">{{ asset.id }}</span>
    </nz-option>
  </ng-container>
</nz-select>
<ng-template #renderTemplate>
  <ng-container *ngIf="isLoading$ | async">
    <nz-space nzDirection="horizontal" nzSize="small">
      <nz-space-item></nz-space-item>
      <nz-space-item>
        <i nz-icon nzType="loading"></i> Loading Data...
      </nz-space-item>
    </nz-space>
  </ng-container>
</ng-template>
