<ng-container *ngIf="isFormReady$ | async; else formLoadingTpl">
  <form nz-form [formGroup]="userForm" nzLayout="vertical" novalidate>
    <nz-form-item>
      <app-form-label>
        <nz-form-label nzFor="public-key" nzRequired>
          User public key
        </nz-form-label>
      </app-form-label>
      <nz-form-control
        nzSpan="12"
        id="public-key"
        nzErrorTip="Please select an user!"
        nzHasFeedback
      >
        <app-wallet-select
          [ownerAddress]="selectedProfileAddress | async"
          formControlName="wallet"
          labelProp="publicKey"
          placeholder="Select wallet public key"
          [isDisabled]="isEditMode$ | async"
        >
        </app-wallet-select>
      </nz-form-control>
    </nz-form-item>
    <ng-container *ngIf="isPermissionFormGroupReady$ | async">
      <ng-container *ngLet="c('wallet').valueChanges | async">
        <ng-container *ngIf="c('wallet').value as user">
          <app-guardian-group-permissions-form formControlName="permissions" [hidden]="!user">
          </app-guardian-group-permissions-form>
        </ng-container>
      </ng-container>
    </ng-container>
  </form>
</ng-container>

<ng-template #formLoadingTpl>
  <nz-spin nzSimple class="text-center"></nz-spin>
</ng-template>

<ng-template #modalTitleTpl>
  <app-modal-header>
    <nz-space>
      <nz-space-item>
        <h4 nz-typography nzType="secondary" class="text-capitalize">
          <ng-container *ngIf="isEditMode$ | async; else createMode">
            Edit user permissions
          </ng-container>
          <ng-template #createMode>
            Add user permissions
          </ng-template>
        </h4>
      </nz-space-item>
      <nz-space-item>
        <app-popover-helper
          placement="right"
          [popoverContent]="modalTitleHelperTpl"
        ></app-popover-helper>
      </nz-space-item>
    </nz-space>
  </app-modal-header>
  <ng-template #modalTitleHelperTpl>
    <ng-container *ngIf="isEditMode$ | async; else createMode">
      Update user's permissions
    </ng-container>
    <ng-template #createMode>
      Add permissions to user by their public key
    </ng-template>
  </ng-template>
</ng-template>

<div *nzModalFooter>
  <button
    class="text-capitalize"
    nz-button
    nzType="primary"
    [nzLoading]="isLoading$ | async"
    [disabled]="(isLoading$ | async) || !userForm.valid"
    (click)="submitForm($event)"
  >
    <ng-container *ngIf="isEditMode$ | async; else createMode">
      Save changes
    </ng-container>
    <ng-template #createMode>
      Add user permissions
    </ng-template>
  </button>
</div>
