<div nz-row [nzGutter]="[72, 0]">
  <div nz-col [nzSpan]="18">
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="wallet">Choose wallet</nz-form-label>
      <nz-form-control
        [nzSpan]="20"
        id="asset"
        nzErrorTip="Please select an wallet!"
        nzHasFeedback
      >
        <app-wallet-select
          [formControl]="walletDropdownFormControl"
          labelProp="publicKey"
          placeholder="Select wallet public key"
          [canAddColdWallet]="true"
        >
        </app-wallet-select>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col [nzSpan]="6">
    <nz-form-item [nzGutter]="0">
      <nz-form-control [nzSpan]="24">
        <button nz-button nzType="default" class="w-100" (click)="onAddWallet($event, walletDropdownFormControl.value)">
          Add allowed issuers
        </button>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>

<nz-form-item>
  <nz-form-control>
    <nz-list nzBordered nzSize="small">
      <nz-list-header>Allowed issuers</nz-list-header>
      <ng-container
        *ngFor="let item of form.controls; let formGroupIndex = index"
      >
        <ng-container
          *ngLet="form.controls[formGroupIndex].get('publicKey').value as publicKey"
        >
          <nz-list-item class="font-monospace">
            {{ publicKey }}
            <ul nz-list-item-actions>
              <nz-list-item-action>
                <a (click)="onRemoveWallet($event, formGroupIndex, publicKey)">remove</a>
              </nz-list-item-action>
            </ul>
          </nz-list-item>
        </ng-container>
      </ng-container>
    </nz-list>
  </nz-form-control>
</nz-form-item>
