<div [class]="options?.htmlClass || ''">
	<button
		nz-button
		[attr.readonly]="options?.readonly ? 'readonly' : null"
		[attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
		[class]="options?.fieldHtmlClass || ''"
		[disabled]="controlDisabled"
		[name]="controlName"
		[type]="layoutNode?.type"
		[value]="controlValue"
		(click)="updateValue($event)"
	>
		<span
			*ngIf="options?.icon || options?.title"
			[class]="options?.icon"
			[innerHTML]="options?.title"
		></span>
	</button>
</div>
