<ng-container *ngIf="infoCoreVersion$ | async as nodeCoreVersion; else loading">
  <nz-descriptions
    [nzTitle]="nodeManagerTitle"
    nzBordered
    [nzColumn]="descriptionColumns"
  >
    <nz-descriptions-item nzTitle="Version">
      {{ nodeCoreVersion?.currentVersion }}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Latest version">
      {{ nodeCoreVersion?.latestVersion }}
    </nz-descriptions-item>

    <ng-container *ngIf="blockchainHeight$ | async as blockchainHeight">
      <nz-descriptions-item nzTitle="Height">
        <app-text-animate [value]="blockchainHeight?.height"></app-text-animate>
      </nz-descriptions-item>
    </ng-container>
  </nz-descriptions>
</ng-container>

<nz-divider nzText="Logs"></nz-divider>
<app-log-archived-table [rows]="logArchived$"></app-log-archived-table>

<nz-divider nzText="Processes"></nz-divider>
<app-process-list-table [rows]="processList$"></app-process-list-table>

<ng-template #nodeManagerTitle>
  Node manager @ <a>{{ nodeManagerUrl$ | async }}</a>
</ng-template>

<ng-template #loading>
  <nz-spin nzSimple></nz-spin>
</ng-template>
